<section id = "warehouse-details">
    <div class="warehouse-content">
        <h1>Galpão <%= @warehouse.code%></h1></br>
        <strong>Nome: <%= @warehouse.name%></strong></br>
        <small>Endereço: <%= @warehouse.address%></small><strong> CEP: <%= @warehouse.cep%></strong></br>
        <small>Cidade: <%= @warehouse.city%></small></br>
        <p>Descrição: <%= @warehouse.description%></p></br>
        <p>Área: <%= @warehouse.area%> m²</p></br>
    </div>

    <div class="warehouse-content-image">
        <img src = "https://liftlearning.com/wp-content/uploads/2020/09/default-image.png"/>
    </div>

    <div>
        <h2>Itens do galpão</h2>
        <ul>
            <%@warehouse.warehouse_items.each do |item|%>
                <li><%= item.qtd%> x <%=item.product_model.name%></li>

            <%end%>
            
        </ul>
    </div>

</section>



<%= link_to "Voltar", root_path %>
<%= link_to "Editar", edit_warehouse_path(@warehouse) %>
<%= button_to "Remover", warehouse_path(@warehouse), method: :delete %>
