<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-bar">
          <div class = "nav-brand">
             <strong><h1>Galpões & Estoque</h1></strong>
          </div>
          <ul>
            <li> <%= link_to "Galpões", root_path %> </li>
            <li> <%= link_to "Fornecedores", suppliers_path %> </li>
             <li> <%= link_to "Produtos", product_models_path %> </li>
            
          </ul>
          <div class = "nav-login">
            <button>Login</button>
          </div>
         
        </div>
      </nav>
    </header>
    <main>
    <%= notice%>
      <%= yield %>
    </main>
  </body>
</html>
